* {
    margin: 0;
    padding: 0;
}

:root {
    --pink: #e90854;
    --white: #fff;
}

body {
    background-color: rgb(233, 230, 230, 0.6);
    overflow: hidden;
    letter-spacing: -1px;

}

/* Header */

.nav-header {
    top: 0;
    width: 100vw;
    background: var(--white);
    height: 55px;
    position: relative;

}

.right-buttons {
    width: 30%;
    margin-left: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.plus,
.send {
    width: 35px;
    height: 35px;
    background: var(--pink);
    border: 2px solid var(--pink);
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.send {
    margin-left: 8px;
}

.line {
    margin: 10px auto auto 50%;
    width: 1.3px;
    height: 15px;
    background: var(--white);
    z-index: 1;
    position: absolute;
}

.line:first-of-type {
    width: 1.6px;
}

.line:last-of-type {
    transform: rotate(270deg);
}

.arrow {
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.9;
}

.logo-img {
    position: relative;
    width: 120px;
    margin: 10px auto auto 2%;
}

.calendar-check {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 15px 0 auto 11%;
}

.divider {
    width: 0.1px;
    position: relative;
    margin-left: 10.2%;
    height: 25px;
    margin-top: 9px;
    padding-top: 13px;
    background: transparent;
    border: 1.2px solid rgb(0, 0, 0, .3);
    outline: none;
}

.logo {
    position: absolute;
}

.logo-title {
    position: absolute;
    margin-left: 6.5%;
    width: 30%;
    display: flex;
    place-items: center;
}

.letter {
    position: relative;
    letter-spacing: -0.5px;
    font-weight: bold;
    opacity: 0.9;
    font-size: 16px;
    margin: 21px auto auto 5px;
}

.letter span {
    font-family: 'Franklin Gothic ';
    background: rgba(0, 0, 0, 0.03);
    padding: 3px;
    margin-left: 5px;
    border-radius: 5px;
}

/* Main */

.side-bar {
    margin-top: 2px;
    width: 60px;
    height: 100vh;
    background: var(--white);
    display: flex;
    position: absolute;
    place-items: flex-start;
}

.home {
    margin-top: 50%;
}

.home {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.home-img {
    width: 32px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.doc-img {
    position: relative;
    width: 45px;
    margin-left: 4px;
    margin-top: 80px;
    opacity: 0.4;
    cursor: pointer;
}

.side-line {
    width: 0.1px;
    height: 30px;
    border: 3px solid var(--pink);
    margin-left: 15px;
    border-radius: 15px;
    margin-top: -5px;
}

/* Top-container */
.top-left-container,
.top-right-container {
    width: 50%;
}

.top-container {
    position: relative;
    top: 2%;
    left: 61px;
    width: 100vw;
    z-index: 10;
    height: 80px;
    background: rgb(216, 213, 213, 0.6);
}

.new-task {
    position: absolute;
    width: 12.3%;
    height: 35%;
    place-items: center;
    margin-top: 1%;
    margin-left: 3%;
    padding-bottom: 12px;
    border-radius: 5px;
    background: #ffffff43;
}

.plus1 {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #232121e7;
    border: 2px solid #232121;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.line1 {
    margin: 5px auto auto 50%;
    width: 1.3px;
    height: 15px;
    background: var(--white);
    z-index: 1;
    position: absolute;
}

.line1:first-of-type {
    width: 1.6px;
}

.line1:last-of-type {
    transform: rotate(270deg);
}

.new-task label {
    position: absolute;
    font-weight: bold;
    font-size: calc(1vw + 5px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 23%;
    opacity: 0.8;
    letter-spacing: -0.1px;
    margin-top: 4%;
    cursor: pointer;
}

.new-task>.divider {
    left: 100%;
    top: -31%;
    display: flex;
    height: 31px;
}

/* Search-bar */

.search-bar {
    margin-left: 18.6%;
    position: absolute;
    width: 35%;
    margin-top: 8px;
    display: flex;
    place-items: center;
    height: 60px;
}

.search-icon {
    position: absolute;
    margin-left: 15px;
    font-size: 19px;
    color: rgba(128, 128, 128, 0.732);
    margin-top: -5px;
    transform: rotate(2deg);
}

.search-tab {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    place-items: center;
}

.search-text {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: Arial;
    padding-left: 45px;
    font-size: 16px;
    letter-spacing: -0.1px;
}

.search-text::placeholder {
    opacity: 0.6;
}

.search-btn {
    width: 25%;
    padding: auto 9px;
    position: absolute;
    line-height: 2;
    background-color: var(--pink);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 72%;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 19px;
}

.search-btn:hover {
    background: var(--pink);
    opacity: 0.95;
    transform: scale(1.01);
}

/* Calendar */
.calendar {
    width: 25px;
    margin-left: 10%;
}

.calendar-tab {
    margin-left: 55%;
    position: absolute;
    margin-top: 18px;
    display: flex;
    place-items: center;
    height: 60px;
    width: 12.5%;
    height: 50px;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    place-items: center;
}

.calendar-month {
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    padding-right: 18px;
    cursor: pointer;
}

.calendar-tab .divider {
    left: 5%;
    top: -10%;
    display: flex;
    height: 38px;
}

.task-label {
    position: absolute;
    margin-left: 70%;
    margin-top: 35px;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 700;
    font-family: sans-serif;
}

/* Bottom-Container */
.bottom-container {
    position: relative;
    top: 0;
    left: 60px;
    width: 100vw;
    z-index: 10;
    height: 100vh;
    display: block;
}

.block-divider {
    margin-top: -2.3%;
    width: 0.1px;
    height: 17.2vh;
    border: none;
    border-left: 3px dashed rgb(128, 128, 128, 0.532);
    margin-left: 63.5%;
    border-right-style: none;
    position: absolute;
}

.bottom-container .tab {
    margin: 20px 130px;
    border-radius: 10px;
    width: 80%;
    background: var(--white);
    height: 18%;
}

/* Tab Top */
.tab-top {
    display: flex;
    place-items: center;
}

.green {
    color: #4ca51a;

}

.tick-green,
.tick-gray {
    margin-top: 1%;
    font-size: 25px;
    position: relative;
    margin-left: 2%;
}

.tick-gray {
    margin-top: 1%;
    opacity: 0.5;
}

.tab-title {
    font-weight: 800;
    font-size: 18px;
    margin-top: 1%;
    padding-left: 1.5%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-transform: capitalize;
}

.tab-title:not(.tgreen) {
    opacity: 0.7;
}

.approved {
    width: 22px;
    margin-top: 1%;
    padding-left: 1%;
}

.orange {
    margin-left: 0.5%;
}

.hash-tag {
    margin-top: 1.1%;
    border-radius: 5px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 10px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.03);
}

.pink {
    color: var(--pink);
}

.sup {
    margin-top: 0.8%;
    margin-left: 27%;
}

.s2 {
    margin-left: 29%;
}

.s2,
.s3 {
    opacity: 0.5;
}

.finished {
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 1%;
}

.time {
    margin-top: 1.1%;
    margin-left: 1%;
}

.time {
    font-weight: 800;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.03);
}

.dummy {
    font-size: 18px;
    width: 57%;
    line-break: strict;
    word-spacing: 3px;
    margin-left: 4dvw;
    position: absolute;
    margin-top: 1%;
    letter-spacing: -0.1px;
    text-decoration-color: rgb(89, 86, 86, 0.8);
}

.strike {
    text-decoration: line-through;
}

.right-tab {
    width: 30%;
    height: 18vh;
    margin-left: 64%;
    margin-top: -35px;
    position: absolute;
}

.right-tab label {
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: -1px;
    color: rgb(0, 0, 0, 0.9);
    font-size: 18px;
    position: absolute;
}

.icons {
    position: absolute;
}

.remainder {
    width: 25px;
    top: 6%;
    left: 4%;
}

.date {
    margin: 3% 0 0 15%;
}

.priority {
    margin: 20% 0 0 15%;
}

.pen {
    left: 45%;
    top: 10%;
    cursor: pointer;
    width: 20px;
}

.alarm {
    top: 35%;
    left: 4%;
    width: 25px;
}

.time-now {
    margin: 11% 0 0 15%;
}

.approved-orange {
    top: 65%;
    left: 4%;
    width: 25px;
}

.mini-divider {
    margin-top: 7%;
    width: 0.1px;
    height: 7vh;
    border: none;
    border-left: 3px dashed rgba(128, 128, 128, 0.532);
    margin-left: 47%;
    border-right-style: none;
    position: absolute;
}

.trash {
    top: 67%;
    left: 45%;
    width: 23px;
    cursor: pointer;
}


/* Footer */

.copy-container {
    top: 93%;
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 8vh;
    display: flex;
    place-items: center;
    justify-content: baseline;
    background: var(--white);
    text-align: center;
}

.footer-copy {
    margin: auto;
    font-weight: 600;
    opacity: 0.8;
    letter-spacing: -0.5px;
    font-family: Arial;
}